<nav>
    <divn class="site-title">
        <a href="/">Blog Ninja</a>
        <p>A new Ninja site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>