<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>
</head>
<body>
    <nav>
        <divn class="site-title">
            <a href="/">Blog Ninja</a>
            <p>A new Ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, eligendi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, eligendi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, eligendi.</p>
    </div>
</body>
</html>